
html,
body,
header,
#intro {
    height: 100%;
}

#quyen_Admin {
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    color: red;
    font-weight: bold;
}

#quyen_User {
    background-color: yellow;
    border-radius: 10px;
    padding: 5px;
    color: green;
    font-weight: bold;
}


#intro {
    background: url("../img/photos/banner.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-link{
    font-size: .8rem;
    padding: 5px;
}

.custom-navbar{
    box-shadow: none;
}


.demSoLuong{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #fa2b2b;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
}

